@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-roboto: "Roboto Slab";
}

body {
    @apply font-roboto overflow-hidden;
}

.Layout {
    @apply flex w-full h-screen;
}





.Navbar {
    @apply w-1/4 border-r border-r-slate-500 
    px-3 py-6 flex flex-col items-stretch 
    justify-between h-screen text-center;
}

.Nav {
    @apply flex flex-col items-stretch gap-2 px-6;
}

.NavLink {
    @apply flex gap-3 items-center rounded-md bg-slate-300/10 px-3 py-2;
}

.Brand {
    @apply text-4xl font-extrabold text-center;
}






.Home,
.Profil,
.Planning
{
    @apply grow p-10;
}





.Disconnect {
    @apply border-t border-t-slate-500 py-3;
}

.Error {
    @apply flex justify-center items-center;
}

